## Mako can find this base file because it's in the settings.py -> MAKO_TEMPLATES_DIRS list
<%inherit file="base_template.htm" />

<%block name="content">
  <p>
    Welcome to our home page!  This page explores the primary benefits of the base_app.controller in <a href="https://www.djangoproject.com/">Django</a>.
  </p>
  <h2><a href="http://www.makotemplates.org/">Mako</a> Templates - Ahhh, smell that strong sauce goodness!</h2>
  <p>
    A templating engine allows you to put code into HTML documents.  <a href="https://www.djangoproject.com/">Django</a> comes with a custom templating engine, but it's
    weak; it provides only a few tags that limit your power (by design to encourage your template code to be minimal).
    Method calls are different than regular python: they don't have parenthases and parameters are syntactically different.
    When I first saw the templating syntax, I asked, "Why would I want to learn yet another syntax?  I'm using Django
    because I *like* Python!"
  </p>    
  <p>
    In contrast, the <a href="http://www.makotemplates.org/">Mako</a> templating engine embeds standard Python into HTML pages.  For loops, if statements, method calls,
    and everything else is standard and straightforward.  Fortunately, it's easy to use Mako with Django.  The base_app/controller.py 
    module provides a templating class that connects the two together. For example, see the "templater.render_to_response()" calls
    in most of the views/ files.
  </p>    

  <h2>URL Matching by Convention - Sound Pythonic?</h2>
  <p>
    This file is just a simple HTML file.  There's no view function associated with it.  The controller
    first looks for <tt>/calculator/views/index.py</tt> -> <tt>process_request()</tt>, and when it doesn't find the function, it
    renders the <tt>/calculator/templates/index.html</tt> file directly.
  </p>    
  <p>
    In other words, this index page is a great example of the base_app.controller.  Instead of putting an entry in urls.py
    for every. single. page. on. your. site (the normal Django way), it uses a convention to know which pages can be
    displayed.  The first url part (/calculator) takes it to the calculator app, the second url part (/index) takes it 
    to either index.py or index.html (if the first doesn't exist).
  </p>

  <h2>Automatic CSS and Javascript Inclusion</h2>
  <p>
    In addition, the parent template of this file (<tt>base_app/templates/base_template.htm</tt>) automatically includes styles and scripts
    for each template in the inheritance chain.  For example, this index page has the following inheritance:
    <ol>
      <li>Base template: <tt>/base_app/templates/base_template.htm</tt></li>
      <li>Child template: <tt>/calculator/templates/index.html</tt></li>
    </ol>
    Because of this chain, the following styles and scripts are automatically included in the rendered page:
    <ol>
      <li><tt>/base_app/styles/base.css</tt></li>
      <li><tt>/base_app/styles/base.cssm</tt> (this one can contain dynamic Python code)</li>
      <li><tt>/calculator/styles/index.css</tt></li>
      <li><tt>/calculator/styles/index.cssm</tt> (this one can contain dynamic Python code)</li>
      <li><tt>/base_app/scripts/base.js</tt></li>
      <li><tt>/base_app/scripts/base.jsm</tt> (this one can contain dynamic Python code)</li>
      <li><tt>/calculator/scripts/index.js</tt></li>
      <li><tt>/calculator/scripts/index.jsm</tt> (yep, you guessed it, this one can contain dynamic Python code)</li>
    </ol>
    Of course, you'd rarely create all the above files.  Just create the ones that you need.  For example, if you have 
    CSS that affects the dom elements in <tt>base.htm</tt>, place it in <tt>base.css</tt> or <tt>base.cssm</tt>.  If you have Javascript that affects 
    the dom elements in <tt>index.html</tt>, place it in <tt>index.js</tt> or <tt>index.jsm</tt>.
  </p>
  <p>
    The above "automatic" inclusion of .css and .js files creates a nice separation of HTML, CSS, and JS code, and it 
    provies a place to attach styles and scripts at the same inheritance level as the HTML they affect.  It also 
    speeds up browser rendering because all the CSS and JS are included right in the HTML file - circumventing
    further requests on your system (even though you're really keeping things separate on the coding side).
  </p>

  <h2>A More Complete Example</h2>
  <p>
    Try out the calculator app for a more complex example.
  </p>
  <ul>
    <li><a href="/calculator/calc/">A calculator app</a></li>
  </ul>
</%block>  
