## this is the skeleton of all pages on in this app - it defines the basic html tags

## imports
<%%! from django_mako_plus import get_template_css, get_template_js %%>


<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <head>

    <title>%(app_name)s</title>

    ## add any site-wide scripts or CSS here; for example, jquery:
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    ## render the css with the same name as this page
    ${ get_template_css(self, request, context) }

  </head>
  <body>

    <header>
      Welcome to the %(app_name)s app!
    </header>

    <%%block name="content">
      Site content goes here in sub-templates.
    </%%block>

    ## render the JS with the same name as this page
    ${ get_template_js(self, request, context) }

  </body>
</html>
