## this is the skeleton of all *ajax* pages on our site - page snippets that are retrieved with Ajax.
## it's primary function is to insert the CSS and JS for the template hierarchy the ajax return
## is composed of.

## imports
<%! from django_mako_plus import get_template_css, get_template_js %>

## render the CSS for this template
${ get_template_css(self, request, context) }

## render the ajax content
<%block name="content">
  Sub-templates should place their ajax content here.
</%block>

## render the JS for this template (pages load faster when JS is at the end)
${ get_template_js(self, request, context) }
